# vim: foldmethod=marker syntax=sh
#!/bin/bash

if [[ "$OSTYPE" == "darwin"* ]]; then
    # Use GNU style tools (without g-prefix) before using MacOS
    PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"
    [[ -x /usr/local/bin/gls ]] && alias ls='/usr/local/bin/gls --color'
    [[ -x /usr/local/bin/grm ]] && alias rm='/usr/local/bin/grm'
    [[ -x /usr/local/bin/gmv ]] && alias mv='/usr/local/bin/gmv'
    [[ -x /usr/local/bin/gfind ]] && alias find='/usr/local/bin/gfind'
    [[ -x /usr/local/bin/gmkdir ]] && alias mkdir='/usr/local/bin/gmkdir'
fi
